<script async defer type="text/javascript" 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcGNp1ktAaDu1giZj5b05i8_q7b9PHbA8&libraries=visualization&callback=getMap">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    var heatMap = null;
    var map = null;
    var locations = [];

    function getMap(){
        var loc = new google.maps.LatLng(47.6117309, -122.3351027);
        var mapOptions = {
            zoom: 10,
            center: loc,
        };
        map = new google.maps.Map($('.map')[0], mapOptions);

        timeout();
        console.log('Past test');

    }

    function makeheat(){
        heatmap = new google.maps.visualization.HeatmapLayer({map: map, data: locations, maxIntensity: 5, opacity: 0.3, radius: 15});
        heatmap.setMap(map);
    }

    function timeout(){
        setTimeout(
            function() 
            {
                $.post("{% url 'heatmap-home' %}",
                function (data) {
                    var point = new google.maps.LatLng(data.lat, data.long);
                    locations.push(point);
                }, 'json');
                makeheat();
                timeout();
            }, 1000);
    }
</script>
<body onload="getMap()">
    <div class="map" style="width: 100%; height: 100%;"></div>
</body>