<script type='text/javascript' src='http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var loc = new Microsoft.Maps.Location(47.6117309, -122.3351027);
        var mapOptions = {
            zoom: 15,
            center: loc,
            credentials: 'AmTOjxQXZeKHxacoFI3IoPyR6PHW0U-r0NgDSQ8F-x0dt97mnLMFKREiS96mkOkX',
        };
        map = new Microsoft.Maps.Map($('.map')[0], mapOptions);

        // Center the map on the location
        map.setView({center: loc, zoom: 10});

        Microsoft.Maps.loadModule('Microsoft.Maps.HeatMap', function () {
            // Creating sample Pushpin data within map view
            var mapDiv = map.getRootElement();
            var locations = [];
            for (var i = 0; i < 1000; i++) {
                locations.push(map.tryPixelToLocation(new Microsoft.Maps.Point(mapDiv.clientWidth * Math.random(), mapDiv.clientHeight * Math.random()), Microsoft.Maps.PixelReference.control));
            }
            var heatMap = new Microsoft.Maps.HeatMapLayer(locations);
            map.layers.insert(heatMap);
        });
    }
</script>

<div class="map" style="width: 100%; height: 100%;"></div>